body {
  background: #7798e0;
  font-family: var(--bs-body-font-family);
}

h1 {
  display:inline;
  font-weight:700;
}

.main-info {
  border: 1px solid black;
  margin: 40px auto;
  border-radius: 5px;
  padding: 70px;
  max-width: 600px;
  background-color: #ececec;
}

#temp-value {
  font-size: 36px;
}

#first-row {
  padding-top:30px;
}

.col-4 {
  display:inline-block;
  vertical-align:middle;
}

.day-time{
  padding-top: 10px;
  font-weight: 300;
  font-size: 20px;
}

.search-button {
  background-color: #7ea0dfad;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgb(58, 111, 160);
}

.search-button:hover {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  background: rgb(58, 111, 160); 
}

#current-location-button {
  display: block;
  background-color: #8d43aa9a;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgb(58, 111, 160);
}

#current-location-button:hover {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  background: rgb(97, 39, 121); 
}

.github-link {
  margin: 40px auto;
  position: relative;
  left: 350px;
}

.weather-descriptions {
  list-style: none;
  padding:0;
  text-align: center;
  padding-top:10px;
  font-size: medium;
  font-weight: 300;
  text-transform: capitalize;
}

.celcius-fahrenheit .active {
  color:rgb(33,33,33);
  cursor: default;
  text-decoration: none;
}

.celcius-fahrenheit .active:hover {
  text-decoration: none;
}

.celcius-fahrenheit {
  vertical-align: baseline;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temps {
  font-size: 13px;
}
.weather-forecast-temp-min {
  opacity: 0.6;
}
